Import das bibliotecas

In [ ]:
# Importe da biblioteca pandas

import pandas as pd

In [8]:
#Leitura dos dados

df = pd.read_csv('dados_agregados.csv')

Tratamento dos dados

In [10]:
# Tratamento de dados excluindo colunas NaN que não tem impacto nos dados

df = df.dropna(axis=1)

In [11]:
df

,Numero,Nome,Tipe,Total,HP,Ataque,Defesa,Velocidade,Velocidade de ataque,Velocidade de defesa
0,1,Bulbasaur,Grass Poison,318,45,49,49,65,65,45
1,2,Ivysaur,Grass Poison,405,60,62,63,80,80,60
2,3,Venusaur,Grass Poison,525,80,82,83,100,100,80
3,3,Venusaur Mega Venusaur,Grass Poison,625,80,100,123,122,120,80
4,4,Charmander,Fire,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...
1190,1006,Iron Valiant,Fairy Fighting,590,74,130,90,120,60,116
1191,1007,Koraidon,Fighting Dragon,670,100,135,115,85,100,135
1192,1008,Miraidon,Electric Dragon,670,100,85,100,135,115,135
1193,1009,Walking Wake,Water Dragon,590,99,83,91,125,83,109
1194,1010,Iron Leaves,Grass Psychic,590,90,130,88,70,108,104